<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Gaia - Bootstrap Template | Free Demo</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link href="/assets/css/bootstrap.css" rel="stylesheet" />
  <link href="/assets/css/gaia.css" rel="stylesheet" />
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/css/fonts/pe-icon-7-stroke.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-default fixed-top" style="background-color: white;">
  <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
  <div class="container">
    <div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      <img alt="..." src="/assets/img/logo/logo.jpg" />
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right navbar-uppercase">
        <li>
          <a href="">Trang chủ</a>
        </li>
        <li>
          <a href="#about">Giới thiệu</a>
        </li>
        <li>
          <a href="#products">Sản phẩm</a>
        </li>
        <li>
          <a href="#contacts">Liên hệ</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>


<div class="section section-header">

</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <img style="width: 100%;" src="../../assets/img/hinhnen/anhnenFulHD.jpg" alt="demo">
    </div>
  </div>
</div>

<div class="section section-our-team-freebie" id="about">
  <div class="container content-about">
    <div class="row">
      <div class="col">
        <div class="title-area">
          <h2>Lời giới thiệu về công ty</h2>
          <div class="separator separator-danger">✻</div>
          <p class="text-justify" style="text-indent: 30px;">Lời đầu tiên công ty TNHH ĐẦU TƯ VÀ PHÁT TRIỂN MINH PHÚ
            xin gửi tới quý khách lời chào trân trọng!
          </p>
          <p class="text-justify" style="text-indent: 30px;">Trải qua 12 năm nghiên cứu, xây dựng và phát triển, cho
            đến nay chúng tôi đã và đang gửi đến bà con
            nông dân những sản phẩm "Chế phẩm sinh học, khoáng chất, dinh dưỡng sản phẩm cải tạo môi trường sử
            dụng trong ngành nuôi trồng thủy sản" vượt trội về chất lượng.
          </p>
          <p class="text-justify" style="text-indent: 30px;">Các sản phẩm đã khẳng định được thế mạnh và chất lượng
            trên thị trường. Đến với chúng tôi, quý khách
            hàng sẽ luôn hài lòng bởi các lợi thế sau từ công ty chúng tôi.
          </p>
          <p class="text-justify" style="text-indent: 30px;">- Có nguồn nguyên liệu được nhập khẩu trực tiếp từ nước
            ngoài.</p>
          <p class="text-justify" style="text-indent: 30px;">- Các sản phẩm uy tín và chất lượng cao.</p>
          <p class="text-justify" style="text-indent: 30px;">- Sản xuất và bảo quản trong điều kiện đạt tiêu chuẩn.
          </p>
          <p class="text-justify" style="text-indent: 30px;">- Có đội ngũ nhân viên là những kỹ sư giàu kinh nghiệm,
            được đào tạo bài bản trong ngành nuôi thủy sản, nhiệt tình
            và giàu kinh nghiệm.
          </p>
          <p class="text-justify" style="text-indent: 30px;">- Có chính sách đãi ngộ tốt nhất đối với khách hàng.
          </p>
          <p class="text-justify" style="text-indent: 30px;">Với phương châm "Sự hài lòng của quý khách là sự tồn tại
            của chúng tôi", công ty Minh Phú mong muốn sẽ luôn
            được đồng hành gắn bó trực tiếp với quý bà con, là thương hiệu tin cậy trong ngành nuôi trồng thủy sản
            Việt Nam.
            Để làm được điều đó, Minh Phú sẽ luôn không ngừng nghiên cứu chuyên sâu và thực nghiệm trên cơ sở khoa
            học, thật
            nhiều và nhiều hơn nữa, nhằm nâng cao chất lượng sản phẩm, giá cả hợp lý góp phần nâng cao hiệu quả và lợi
            nhuận
            cho bà con.
          </p>
          <p class="text-justify" style="text-indent: 30px;">
            Chúng tôi xin chân thành cảm ơn quý khách hàng đã, đang và sẽ sử dụng sản phẩm của Minh Phú trong thời
            gian tới.
            Kính chúc quý khách hàng sức khỏe và thịnh vượng.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="section section-our-team-freebie" id="products">
  <div class="parallax filter filter-color-black">
    <div class="image" style="background-image:url('../../assets/img/tom-cang-xanh.jpg')">
    </div>
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="title-area">
            <h2>Chúng tôi có</h2>
            <div class="separator separator-danger">✻</div>
            <!-- <p class="description">We promise you a new look and more importantly, a new attitude. We build that by
              getting to know you, your needs and creating the best looking clothes.</p> -->
          </div>
        </div>

        <div class="team">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <!-- page 1 -->
              <div class="row" *ngIf="page === 1">
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang3-anh1.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">MP NANO</h3>
                        <a (click)="detail(1)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang3-anh2.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">BIO MAX</h3>
                        <a (click)="detail(2)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang4-anh1.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">MP BIO CLEAR</h3>
                        <a (click)="detail(3)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang5-anh1.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">BIOPOLD</h3>
                        <a (click)="detail(4)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang4-anh2.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">NANO ZIM</h3>
                        <a (click)="detail(5)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang5-anh2.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">BIO RHODO</h3>
                        <a (click)="detail(6)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang6-anh1.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">MP HEPATICS</h3>
                        <a (click)="detail(7)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang6-anh2.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">LIVER AQUA</h3>
                        <a (click)="detail(8)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- page 2 -->
              <div class="row" *ngIf="page === 2">
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang7-anh1.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">NEW OGANIC</h3>
                        <a (click)="detail(9)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang7-anh2.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">MP ECOZYME</h3>
                        <a (click)="detail(10)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang8-anh1.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">BIO ACMIN</h3>
                        <a (click)="detail(11)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang10-anh1.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">ACID OGANIC</h3>
                        <a (click)="detail(12)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang8-anh2.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">MP LACTO</h3>
                        <a (click)="detail(13)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang10-anh2.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">CANXI SUPER</h3>
                        <a (click)="detail(14)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang11-anh1.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">CANXI P</h3>
                        <a (click)="detail(15)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang11-anh2.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">CANXIUM</h3>
                        <a (click)="detail(16)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- page 3 -->
              <div class="row" *ngIf="page === 3">
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang12-anh1.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">PROMIX 10</h3>
                        <a (click)="detail(17)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang12-anh2.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">SODAMIX ONE</h3>
                        <a (click)="detail(18)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang13-anh1.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">EDTA VM</h3>
                        <a (click)="detail(19)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang14-anh2.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">YUCCA C</h3>
                        <a (click)="detail(20)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang13-anh2.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">C TẠT</h3>
                        <a (click)="detail(21)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang14-anh1.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">OXY GEN</h3>
                        <a (click)="detail(22)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang15-anh1.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">YUCCA US</h3>
                        <a (click)="detail(23)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang15-anh2.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">ZEO VS</h3>
                        <a (click)="detail(24)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- page 4 -->
              <div class="row" *ngIf="page === 4">
                <div class="col-md-4">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang16-anh1.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">BKC</h3>
                        <a (click)="detail(25)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang16-anh2.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">IODINE</h3>
                        <a (click)="detail(26)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang17-anh1.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">WNV8</h3>
                        <a (click)="detail(27)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang17-anh2.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">WIN MAX</h3>
                        <a (click)="detail(28)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang18-anh1.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">WIN KONG</h3>
                        <a (click)="detail(29)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-member">
                    <div class="content">
                      <div class="">
                        <img alt="..." class="img-circle" src="../../assets/img/sanpham/Trang18-anh2.jpg" />
                      </div>
                      <div class="description">
                        <h3 class="title">VIRUS STOP</h3>
                        <a (click)="detail(30)" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <a (click)="changePreview()" style="background-color: white;" class="btn btn-warning">Trở về</a>
                <a *ngIf="page!=1" (click)="changeIndex(1)" style="background-color: white;"
                   class="btn btn-warning">1</a>
                <a *ngIf="page==1" style="background-color: red;" class="btn btn-warning">1</a>
                <a *ngIf="page!=2" (click)="changeIndex(2)" style="background-color: white;"
                   class="btn btn-warning">2</a>
                <a *ngIf="page==2" style="background-color: red;" class="btn btn-warning">2</a>
                <a *ngIf="page!=3" (click)="changeIndex(3)" style="background-color: white;"
                   class="btn btn-warning">3</a>
                <a *ngIf="page==3" style="background-color: red;" class="btn btn-warning">3</a>
                <a *ngIf="page!=4" (click)="changeIndex(4)" style="background-color: white;"
                   class="btn btn-warning">4</a>
                <a *ngIf="page==4" style="background-color: red;" class="btn btn-warning">4</a>
                <a (click)="changeNext()" style="background-color: white;" class="btn btn-warning">Tiếp theo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section section-our-clients-freebie">
  <div class="container">
    <div class="title-area">
      <h2 class="subtitle text-gray">Mua thuốc thủy sản ở đâu?</h2>
      <div class="separator separator-danger">∎</div>
    </div>

    <div class="tab-content">
      <p class="text-justify" style="text-indent: 30px;">Công ty TNHH đầu tư và phát triển Minh Phú cung cấp các thuốc
        thủy sản uy tín được nhiều người tiêu dùng lựa chọn. Chúng tôi cam kết :
      </p>
      <p class="text-justify" style="text-indent: 30px;">- Cung cấp sản phẩm chính hãng, đảm bảo chất lượng
      </p>
      <p class="text-justify" style="text-indent: 30px;">- Giá bán hợp lý
      </p>
      <p class="text-justify" style="text-indent: 30px;">- Nhiều dịch vụ tiện ích: Tư vấn miễn phí, giao hàng tận nhà
      </p>
      <p class="text-justify" style="text-indent: 30px;">Liên hệ với <b>sanphamminhphu.com</b> để được tư vấn và đặt
        mua các loại thuốc thực phẩm chức năng tốt nhất.
      </p>
      <p class="text-justify" style="text-indent: 30px;">Liên hệ ngay : <a href="tel:0949.509.8888"
                                                                           style="color: brown;"> 0949.506.888</a>
      </p>


    </div>

  </div>
</div>


<div class="section section-small section-get-started" id="contacts">
  <div class="parallax filter">
    <div class="image" style="background-image: url('../../assets/img/office-1.jpeg')">
    </div>
    <div class="container">
      <div class="title-area">
        <h2 class="text-white">Bạn có muốn sử dung các sản phẩm chúng tôi không??</h2>
        <div class="separator line-separator">♦</div>
        <p class="description"> Chúng tôi rất quan tâm đến việc tạo ra các sản phẩm Chế phẩm sinh học,
          khoáng chất, dinh dưỡng sản phẩm cải tạo môi trường sử dụng trong ngành nuôi trồng thủy sản vượt trội về
          chất lượng
          để khách hàng lưu tâm thì chúng tôi không bao giờ thất vọng !!!
        </p>
      </div>

      <div class="button-get-started">
        <a href="https://www.facebook.com/LuonCoKySuTuVanTrucTiep" class="btn btn-danger btn-fill btn-lg">Liên hệ
          chúng tôi</a>
      </div>
    </div>
  </div>
</div>


<footer class="footer footer-big footer-color-black" data-color="black">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8">
        <div class="info">
          <h5 class="title">Công ty TNHH đầu tư và phát triển Minh Phú</h5>
          <nav>
            <ul>
              <li>
                <i aria-hidden="true" class="fa fa-home"></i>
                <span>Địa chỉ: Lầu 10, 161-163 Trần Quốc Thảo, Phường 09, Quận 03, Thành phố Hồ Chí Minh</span>
              </li>
              <li>
                <i aria-hidden="true" class="fa fa-phone-square"></i>
                <span>Hotline: 0949.509.8888</span>
              </li>
              <li>
                <i aria-hidden="true" class="fa fa-phone-square"></i>
                <span>Thuysanminhphuvn@gmail.com</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-3 col-sm-8">
        <div class="info">
          <h5 class="title"> Help and Support</h5>
          <nav>
            <ul>
              <li>
                <a href="">Trang chủ</a>
              </li>
              <li>
                <a href="#about">Giới thiệu</a>
              </li>
              <li>
                <a href="#products">Sản phẩm</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="col-md-2 col-sm-8">
        <div class="info">
          <h5 class="title">Theo dõi chúng tôi trên</h5>
          <nav>
            <ul>
              <li>
                <a href="https://www.facebook.com/LuonCoKySuTuVanTrucTiep"
                   class="btn btn-social btn-facebook btn-simple">
                  <i class="fa fa-facebook-square"></i> Facebook
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-social btn-dribbble btn-simple">
                  <i class="fa fa-dribbble"></i> Dribbble
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-social btn-twitter btn-simple">
                  <i class="fa fa-twitter"></i> Twitter
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-social btn-reddit btn-simple">
                  <i class="fa fa-google-plus-square"></i> Google+
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <hr>
    <div class="copyright">
      ©
      <script> document.write(new Date().getFullYear())</script> Creative Tim, made with love
    </div>
  </div>
</footer>
<a href="tel:+84972939830">
  <div class="hotline">
    <span class="before-hotline">Hotline:</span>
    <span class="hotline-number">0949.506.888</span>
  </div>
</a>
<div class="mobile-hotline">
  <div class="mobile-hotline-left">
    <a href="https://www.m.me/LuonCoKySuTuVanTrucTiep" target="blank">Chat Facebook</a>
  </div>
  <div class="mobile-hotline-right"><a href="tel:+0949.506.888" target="blank">Gọi điện ngay</a></div>
</div>
</body>


<!--   core js files    -->
<script src="/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="/assets/js/bootstrap.js" type="text/javascript"></script>

<!--  js library for devices recognition -->
<script type="text/javascript" src="assets/js/modernizr.js"></script>

<!--  script for google maps   -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!--   file where we handle all the script from the Gaia - Bootstrap Template   -->
<script type="text/javascript" src="/assets/js/gaia.js"></script>

<!-- Load Facebook SDK for JavaScript -->

</html>
